html, body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
}

.container {
    white-space: nowrap;
    padding: 10px; 
}

.box {
    display: inline-block;
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    font-size: 40px;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box; 
    vertical-align: top;
}

.box:hover {
    cursor: pointer; 
    background-color: yellow;
    color: goldenrod;
}

.box.last-box {
    position: fixed; 
    bottom: 0;
    right: 0;
    margin: 0; 
}